VITE_SPOTIFY_CLIENT_ID=your_spotify_client_id_here
VITE_WEATHER_REGION=Bageshwar
VITE_DASHBOARD_PORT=5173
VITE_FORZA_UDP_PORT=1234
VITE_UDP_FORWARDING_ENABLED=false
VITE_FORZA_UDP_FORWARD_PORT=1235
VITE_FORZA_UDP_FORWARD_PORT_2=1236
VITE_TELEMETRY_WS_PORT=17878
VITE_DEVELOPER_MODE=false
VITE_G29_CONNECT_BLINK_ENABLED=true
VITE_GITHUB_REPO=himanshupapola/ForzaDash
